<footer class="footer">
  <small>
    Zgraj Się! | Joaquin Santana @ 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>